<table class="table table-bordered">
  <thead>
      <tr>
          <th scope="col">id</th>
          <th scope="col">Ingrediente</th>
          <th scope="col">Accion</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of especialidades">
          <td> {{ item.idEspecialidad }} </td>
          <td> {{ item.nombreEspecialidad }} </td>
          <td> <button type="button" class="btn btn-danger" (click)="enviarDeleteItem(item)"><i class="fa fa-trash"></i></button> </td>
      </tr>
  </tbody>
</table>

