<div class="container mt-3">
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Datos del Especialista</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="p-2">
              <div class="mt-2">
                <img [src]="especialista?.photoURL || 'assets/images/placeholder-user.png'" class="img-fluid" alt="No image">
              </div>
            </div>
          </div>

          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>Email:</strong></label>
                  <p>{{ especialista?.email }}</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>Nombre:</strong></label>
                  <p>{{ especialista?.nombre }}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>Apellido:</strong></label>
                  <p>{{ especialista?.apellido }}</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>Display Name:</strong></label>
                  <p>{{ especialista?.displayName }}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>Sexo:</strong></label>
                  <p>{{ especialista?.sexo }}</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>Edad:</strong></label>
                  <p>{{ especialista?.edad }}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>DNI:</strong></label>
                  <p>{{ especialista?.dni }}</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>Fecha de Nacimiento:</strong></label>
                  <p>{{ especialista?.fechaNacimiento }}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>Rol:</strong></label>
                  <p>{{ especialista?.role }}</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  <label class="form-label"><strong>Estado:</strong></label>
                  <p>{{ especialista?.habilitado ? 'Habilitado' : 'No habilitado' }}</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
