<div class="container p-3">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Elegir Especialidad</ng-template>
            <app-turnos-reservar></app-turnos-reservar>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Eleja un Profecional</ng-template>
            <app-turnos-reservar></app-turnos-reservar>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <ng-template matStepLabel>Elija un Turno Disponible</ng-template>
            <app-turnos-grid></app-turnos-grid>
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup">
            <ng-template matStepLabel>Confirme su Turno</ng-template>
            <app-turno-confirmacion></app-turno-confirmacion>
        </mat-step>

    </mat-horizontal-stepper>
</div>