@font-face {
    font-family: 'VariableFont_wght';
    src: url('./../assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
  }

  
  .VariableFont_wght {
    font-family: 'VariableFont_wght';
  }

  .padding {
    margin-top: 5rem;
  }