<div class="container mt-3">
    <div class="displayTable">
        <div class="displayTableCell">
            <div class="authBlock">
                <h3>Datos del paciente</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="p-2">
                            <div class="avatar mt-2">
                                <img [src]="paciente?.photoURL || 'assets/images/placeholder-user.png'" class="img-fluid" alt="No image">
                            </div>

                            <div class="mt-4">
                                <button type="button" class="btn btn-success" routerLink="/historiaclinica">Ver Historia Clinica</button>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Email:</strong></label>
                                    <p>{{ paciente?.email }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Nombre:</strong></label>
                                    <p>{{ paciente?.nombre }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Apellido:</strong></label>
                                    <p>{{ paciente?.apellido }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Display Name:</strong></label>
                                    <p>{{ paciente?.displayName }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Sexo:</strong></label>
                                    <p>{{ paciente?.sexo }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Edad:</strong></label>
                                    <p>{{ paciente?.edad }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>DNI:</strong></label>
                                    <p>{{ paciente?.dni }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Fecha de Nacimiento:</strong></label>
                                    <p>{{ paciente?.fechaNacimiento }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Rol:</strong></label>
                                    <p>{{ paciente?.role }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Estado:</strong></label>
                                    <p>{{ paciente?.habilitado ? 'Habilitado' : 'No habilitado' }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label"><strong>Foto de DNI:</strong></label>

                                <div class="p-2">
                                    <div class="dni mt-2">
                                        <img [src]="paciente?.photoDNIURL || 'assets/images/placeholder-user.png'" class="img-fluid" alt="No image">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label"><strong>Obra Social:</strong></label>
                                    <p>{{ paciente?.obraSocial }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
