<div class="container mt-3">
    <div class="displayTable">
        <div class="displayTableCell">
            <div class="authBlock">
                <h3>Datos del paciente</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="p-2">
                            <div class="mt-2">
                                <img [src]="paciente?.photoURL || 'assets/images/placeholder-user.png'" class="img-fluid" alt="No image">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Email:</label>
                                    <p>{{ paciente?.email }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Nombre:</label>
                                    <p>{{ paciente?.nombre }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Apellido:</label>
                                    <p>{{ paciente?.apellido }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Display Name:</label>
                                    <p>{{ paciente?.displayName }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Sexo:</label>
                                    <p>{{ paciente?.sexo }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Edad:</label>
                                    <p>{{ paciente?.edad }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">DNI:</label>
                                    <p>{{ paciente?.dni }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Fecha de Nacimiento:</label>
                                    <p>{{ paciente?.fechaNacimiento }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Rol:</label>
                                    <p>{{ paciente?.role }}</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Estado:</label>
                                    <p>{{ paciente?.habilitado ? 'Habilitado' : 'No habilitado' }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="form-label">Foto de DNI:</label>

                                <div class="p-2">
                                    <div class="mt-2">
                                        <img [src]="paciente?.photoDNIURL || 'assets/images/placeholder-user.png'" class="img-fluid" alt="No image">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <label class="form-label">Obra Social:</label>
                                    <p>{{ paciente?.obraSocial }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

