<div class="container">
  <div *ngIf="turno">
    <p class="fs-2">Atención de Turno</p>

    <hr>

    <p class="fs-4"><strong>Especialista:</strong></p>

    <div class="row" *ngIf="turno">
      <div class="col-sm-6 mt-3">
        <app-especialista-card [especialista]="turno?.especialista"></app-especialista-card>
      </div>
      <div class="col-sm-6 mt-3">
        <p class="fs-4">
          <strong>Paciente:</strong> {{ turno.paciente?.nombre }} {{ turno.paciente?.apellido }}
        </p>
        <p class="fs-4">
          <strong>Turno Fecha:</strong> {{ getFormattedDate() | date:'yyyy-MM-dd HH:mm:ss' }}
        </p>
        <app-especialidades-card [especialidad]="turno?.especialidad"></app-especialidades-card>
      </div>
    </div>

    <p class="fs-5">Datos de Paciente : </p>
    <hr>

    <!-- Form Section -->
    <form [formGroup]="createForm">

      <div class="row">
        <div class="col-sm-3 mb-3">
          <label for="altura" class="form-label">Altura:</label>
          <input type="number" class="form-control" id="altura" formControlName="altura" required minlength="2"
            maxlength="3">
          <div *ngIf="createForm.get('altura')?.touched && createForm.get('altura')?.errors?.['required']">
            Altura es requerida.
          </div>
          <div *ngIf="createForm.get('altura')?.touched && createForm.get('altura')?.errors?.['minlength']">
            El campo Altura debe tener al menos 2 caracteres.
          </div>
          <div *ngIf="createForm.get('altura')?.touched && createForm.get('altura')?.errors?.['maxlength']">
            El campo Altura no debe tener más de 3 caracteres.
          </div>
        </div>

        <div class="col-sm-3 mb-3">
          <label for="peso" class="form-label">Peso:</label>
          <input type="number" class="form-control" id="peso" formControlName="peso" required minlength="1"
            maxlength="3">
          <div *ngIf="createForm.get('peso')?.touched && createForm.get('peso')?.errors?.['required']">
            Peso es requerido.
          </div>
          <div *ngIf="createForm.get('peso')?.touched && createForm.get('peso')?.errors?.['minlength']">
            El campo Peso debe tener al menos 1 caracter.
          </div>
          <div *ngIf="createForm.get('peso')?.touched && createForm.get('peso')?.errors?.['maxlength']">
            El campo Peso no debe tener más de 3 caracteres.
          </div>
        </div>

        <div class="col-sm-3 mb-3">
          <label for="temperatura" class="form-label">Temperatura:</label>
          <input type="number" class="form-control" id="temperatura" formControlName="temperatura" required
            minlength="2" maxlength="3">
          <div *ngIf="createForm.get('temperatura')?.touched && createForm.get('temperatura')?.errors?.['required']">
            Temperatura es requerida.
          </div>
          <div *ngIf="createForm.get('temperatura')?.touched && createForm.get('temperatura')?.errors?.['minlength']">
            El campo Temperatura debe tener al menos 2 caracteres.
          </div>
          <div *ngIf="createForm.get('temperatura')?.touched && createForm.get('temperatura')?.errors?.['maxlength']">
            El campo Temperatura no debe tener más de 3 caracteres.
          </div>
        </div>

        <div class="col-sm-3 mb-3">
          <label for="presion" class="form-label">Presión:</label>
          <input type="number" class="form-control" id="presion" formControlName="presion" required minlength="2"
            maxlength="3">
          <div *ngIf="createForm.get('presion')?.touched && createForm.get('presion')?.errors?.['required']">
            Presión es requerida.
          </div>
          <div *ngIf="createForm.get('presion')?.touched && createForm.get('presion')?.errors?.['minlength']">
            El campo Presión debe tener al menos 2 caracteres.
          </div>
          <div *ngIf="createForm.get('presion')?.touched && createForm.get('presion')?.errors?.['maxlength']">
            El campo Presión no debe tener más de 3 caracteres.
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="mb-3">
            <label for="resena" class="form-label">Reseña:</label>
            <textarea class="form-control" id="resena" formControlName="resena"></textarea>
            <div *ngIf="createForm.get('resena')?.touched && createForm.get('resena')?.errors?.['required']">
              Reseña es requerida.
            </div>
            <div *ngIf="createForm.get('resena')?.touched && createForm.get('resena')?.errors?.['maxlength']">
              Reseña debe tener como máximo 500 caracteres.
            </div>
          </div>
        </div>
      </div>


      <p class="fs-5">Datos Adicionales ( hasta tres ) : </p>
      <hr>

      <form formArrayName="dinamicos" class="row row-cols-lg-auto g-3 align-items-center">
        <div class="row mt-2" *ngFor="let control of dinamicosFormArray.controls; let i = index">

          <div class="col-5">
            <label [for]="'dinamicoKey' + i" class="form-label">Dato:</label>
            <div class="input-group">
              <input type="text" class="form-control" [id]="'dinamicoKey' + i"
                [formControl ??]="dinamicosFormArray.controls[i].get('dinamicoKey')" required>
            </div>
          </div>

          <div class="col-5">
            <label [for]="'dinamicoValue' + i" class="form-label">Valor:</label>
            <div class="input-group">
              <input type="text" class="form-control" [id]="'dinamicoValue' + i"
                [formControl ??]="dinamicosFormArray.controls[i].get('dinamicoValue')" required>
            </div>
          </div>

          <div class="col-2">
            <label class="form-label">Borrar:</label>

            <button type="button" class="btn btn-danger" (click)="deleteDinamico(i)"><i
                class="fa fa-trash"></i></button>
          </div>

        </div>
      </form>

      <div class="mt-3 mb-3" *ngIf="dinamicosFormArray.length < 3">
        <button type="button" class="btn btn-primary" (click)="addDinamico()">Agregar Dato</button>
      </div>

      <div class="mt-3">
        <button type="button" class="btn btn-success" (click)="createAtencion()" [disabled]="!createForm.valid">
          Finalizar Turno
        </button>
      </div>

    </form>
    <!-- End Form Section -->
  </div>
</div>
