<div class="container">

    <header class="jumbotron bg-blancoverde">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5 d-flex align-items-center">
                    <div class="text-center VariableFont_wght">
                        <div class="logo mt-5">
                            <img class="logo" src="/assets/logo_azul.png" alt="" srcset="">
                        </div>
                        <p class="lead">
                            Consultas médicas con profesionales especializados
                        </p>
                    </div>
                </div>
                <div class="col-md-5">

                    <div id="carouselExampleAutoplaying" class="carousel slide carouselimg" data-bs-ride="carousel">

                        <div class="carousel-inner">
                            <div class=" carousel-item active">
                                <img src="/assets/carrousel/clinica.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/carrousel/medicos.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/carrousel/neonatologia.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </header>

    <section class="informacion">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="info-box">
                        <div class="info-image">
                            <img src="/assets/home/consultorio.jpg" alt="Imagen 1" class="img-fluid rounded-circle">
                        </div>
                        <div class="info-text">
                            <h3>6 Consultorios</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-box">
                        <div class="info-image">
                            <img src="/assets/home/laboratorio.jpg" alt="Imagen 2" class="img-fluid rounded-circle">
                        </div>
                        <div class="info-text">
                            <h3>2 Laboratorios</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-box">
                        <div class="info-image">
                            <img src="/assets/home/sala.jpg" alt="Imagen 3" class="img-fluid rounded-circle">
                        </div>
                        <div class="info-text">
                            <h3>Sala de Espera</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="my-5 horario bg-verde">
        <div class="p-5 text-center ">
            <div class="container py-5">
                <h1 class="">Horario de Atención</h1>
                <ul>
                    <li style="list-style-type: none;">
                        <p class="lead">
                            Lunes a Viernes: 8:00 a 19:00 hs
                        </p>
                    </li>
                    <li style="list-style-type: none;">
                        <p class="lead">
                            Sábados: 8:00 a 14:00 hs
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>