/* jumbotron.scss */

.jumbotron {
  //background-color: var(--color-verde);
  text-align: center;
  padding: 50px 0;
  margin-top: 2rem;
  border-radius: 10px;
  color: #25857d;
}

.jumbotron h1 {
  font-size: 4rem;
  font-weight: bold;
}

.jumbotron p.lead {
  font-size: 1.5rem;
}

.jumbotron .img-fluid {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 3px solid #fff;
}

/* informacion.scss */

.informacion {
  padding: 50px 0;
}

.info-box {
  text-align: center;
  margin-bottom: 20px;
}

.info-box i {
  font-size: 4rem;
  color: #007bff;
}

.info-box h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}

.info-image img {
  width: 150px;
  height: 150px;
  border: 3px solid #25857d;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.carouselimg {
  width: auto;
  /* Ancho fijo para todas las imágenes */
  height: 400px;
  /* Altura automática para mantener la proporción */
  border: 3px solid #25857d;
  /* Borde sólido con color personalizado */
  border-radius: 10px;
  /* Esquinas redondeadas para el borde y la imagen */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  /* Sombra para dar profundidad */
  object-fit: cover;
  /* Asegura que la imagen cubra el área sin perder proporción */
  margin: 10px;
  /* Espacio alrededor del borde externo */
  transition: transform 0.3s ease;
  /* Transición suave para efectos de hover */
  overflow: hidden;
  /* Asegura que todo dentro del contenedor se ajuste al border-radius */
}

/* Asegúrate de que el carrusel se adapte al contenedor padre */
.carousel.slide {
  width: 100%;
  /* El carrusel ocupa el 100% del ancho de su contenedor */
}

/* Media queries para ajustar el diseño en diferentes puntos de ruptura */
@media (max-width: 768px) {
  .carouselimg {
    width: 100%;
    /* En pantallas pequeñas, el carrusel ocupa el 100% del ancho */
  }
}

@media (max-width: 480px) {

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
    /* Oculta los controles en pantallas muy pequeñas si es necesario */
  }
}


/* horario.scss */

.horario {
  padding: 50px 0;
  text-align: center;
  //background-color: #d4cdad;
  color: #d0fff6;
  border-radius: 10px;
}

.horario h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #d0fff6;
}

.horario ul {
  list-style: none;
  padding: 0;
  color: #d0fff6;
}

.horario li {
  margin-bottom: 10px;
}

.logo {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'VariableFont_wght';
  src: url('./../../../assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('truetype');
}


.VariableFont_wght {
  font-family: 'VariableFont_wght';
}