<div class="row">
    <div class="col-sm-12 text-center">
        <h1 class="image-title">Registros</h1>
    </div>
    <div class="col-sm-12">
        <div class="container d-flex justify-content-center align-items-center mt-5">
            <div class="image-wrapper p-3" (click)="redirectCreate('especialista')">
                <img src="assets/img/presignup/medico.jpg" alt="Imagen 1">
            </div>
            <div class="image-wrapper p-3" (click)="redirectCreate('paciente')">
                <img src="assets/img/presignup/paciente.jpg" alt="Imagen 2">
            </div>
        </div>
    </div>
</div>