<!--
          <li>
            <img mat-card-image src="{{ item.img }}" alt="Photo of a Shiba Inu">
          </li>
          <li>
            {{ item.descripcion }}
          </li>
          <li>

          </li>
          -->


<div class="container mt-3">
  <ul class="list-group p-1" *ngFor="let item of menuItems | async ; let i=index">
    <li class="list-group-item">
      <a mat-raised-button color="primary" [routerLink]="item.redirectTo" (click)="closeNav()">{{ item.name }} </a>
    </li>
  </ul>
</div>
